h1, h2, h3, h4, h5, li {
    font-family: 'Roboto Mono', monospace;
    color: #303030;
}

nav a:hover {
    font-family: 'Roboto Mono', monospace;
}

a:hover {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: #303030;
}

h6, p {
    font-family: 'Nunito Sans', sans-serif;
    color: #303030;
}

.navbar-bottom-border {
    border-bottom: 1px solid #303030;
}

.button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: .7em;
    color: #303030;
    padding: 15px 32px;
    border: 2px solid #addc42;
}

.button:hover {
    font-family: 'Nunito Sans', sans-serif;
    font-size: .7em;
    box-shadow: 5px 5px #fc715d;
    color: #303030;
    border: 2px solid #addc42;
}

.about-section {
    margin: 5em;
    padding: 5em;
    border: 2px solid #addc42;
    box-shadow: 5px 5px #addc42;
}

.girls-who-code-link {
    color: #fc715d;
}

.image1 {
    width: 80%;
    margin: auto;    
    display: block;
    box-shadow: 5px 5px #addc42;
}

.image2 {
    width: 70%;
    margin: auto;    
    display: block;
    box-shadow: 5px 5px #addc42;
}

.box {
    margin: 1em;
    padding: 1em;
    border: 2px dashed #303030;
    box-shadow: 5px 5px #fc715d;
}

.plus {
    color: #fc715d;
    padding-right: .5em;
}

.get-involved-buttons {
    font-size: .7em;
    color: #303030;
    padding: 7px 30px;
    border: 2px solid #fc715d;
}

form {
    font-family: 'Nunito Sans', sans-serif;
}

.submit-button {
    font-size: .7em;
    color: #303030;
    padding: 7px 30px;
    border: 2px solid #fc715d;
}

.footer {
    border-top: 1px solid #303030;
    padding-top: 15px;
}

@media screen and (max-width: 600px) {
    .about-section {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .jcc-registration {
        margin-bottom: 2em !important;
    }
    .image1 {
        margin-bottom: 2em;
    }
  }